@charset "UTF-8";

html, body {
	height: 100%;
	overflow: auto;
}

.hero .hero-cover {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.hero .hero-foot {
	padding: 0 1rem 1rem;
}

.grad1 {
	line-height: 1.5;
	display: inline-block;
	background: linear-gradient(90deg, #4158D0, #C850C0 30%, #FFCC70);
	background: -webkit-linear-gradient(0deg, #4158D0, #C850C0 30%, #FFCC70);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.grad2 {
	line-height: 1.5;
	display: inline-block;
	background: linear-gradient(90deg,rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
	background: -webkit-linear-gradient(0deg, rgba(219, 87, 205, 1), rgba(47, 237, 167, 1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.card {
	margin: 0 1.5rem 2rem;
}

.shop-list .shop-list-item {
	font-size: large;
	padding: 3px;
}

.shop-list .shop-list-item:nth-child(2n) {
	background: #FFF1CD;
}

.item-name {
	white-space: nowrap;
}

.card-content-form {
	display: flex;
}

.card-content-form .select {
	margin-right: 1rem;
}

.card-content-form .input {
	width: 5rem;
}

.is-number {
	text-align: right;
}

.align-right {
	text-align: right;
}
